#!/bin/sh

sv start consul-template || exit 1

. /etc/consul_template_helpers.sh

wait_for_file '/etc/pgbouncer/pgbouncer.ini'

exec pgbouncer /etc/pgbouncer/pgbouncer.ini
